body {
 background-color: #474747;
 font-family: Georgia;
 color: black;
 margin: 0;
 line-height: 1.4;
 padding-top: 6em;
}

h1 {
 font-size: 1.7em;
 font-weight: normal;
 padding: 0;
 margin: 0;
 text-align: center;
}

h2 {
 font-size: 1.3em;
 font-style: italic;
 font-weight: normal;
 padding: 0;
 margin: 0;
 text-align: center;
}

p {
 text-indent: 1em;
 font-size: 0.85em;
 margin-top: 0;
}

.main {
 background-color: white;
 margin: auto;
 padding: 2em 7em;
}

.content {
 text-align: justify;
 padding-top: 2em;
 column-count: 2;
 width: 750px;
 margin: auto;
}

.conclusion {
 font-style: italic;
}
 
