body {
 background-color: black;
 font-family: Georgia;
 color: black;
 margin: 0;
 line-height: 1.4;
 padding-top: 2em;
}

h1 {
 font-size: 1.7em;
 font-weight: normal;
}

h2 {
 font-size: 1.3em;
 font-style: italic;
 font-weight: normal;
}

.main {
 background-color: white;
 margin: auto;
 width: 50%;
}
 
