body {
 background-color: #474747;
 font-family: Georgia;
 color: black;
 margin: 0;
 line-height: 1.4;
 padding-top: 6em;
}

h1 {
 font-size: 1.7em;
 font-weight: normal;
 padding: 0;
 margin: 0;
 text-align: center;
}

h2 {
 font-size: 1.3em;
 font-style: italic;
 font-weight: normal;
 padding: 0;
 margin: 0;
 text-align: center;
}

p {
 text-indent: 1em;
 font-size: 0.85em;
 margin-top: 0;
}

img {
 height: auto;
 width: auto;
 max-width: 150px;
 margin: 0;
 display: block;
}

.main {
 background-color: white;
 margin: auto;
 padding: 2em 7em;
}

.content {
 text-align: justify;
 padding-top: 2em;
 column-count: 2;
 width: 750px;
 margin: auto;
}

.figure {
 font-size: 0.65em;
 font-style: italic;
 text-align: center;
 padding-bottom: 1.5em;
}

.image {
 display: flex;
 align-items: center;
 justify-content: center;
}

.conclusion {
 width: 750px;
 font-style: italic;
 text-align: justify;
 margin: auto;
 padding: 2em;
}

.references {
 width: 750px;
 font-size: 0.65em;
 margin: auto;
}

#prime {
 max-width: 250px;
}
 
