body {
 background-color: #707070;
 font-family: Georgia;
 color: black;
 margin: 0;
 line-height: 1.4;
 padding-top: 6em;
}

h1 {
 font-size: 1.7em;
 font-weight: normal;
 padding: 0;
 margin: 0;
 text-align: center;
}

h2 {
 font-size: 1.3em;
 font-style: italic;
 font-weight: normal;
 padding: 0;
 margin: 0;
 text-align: center;
}

p {
 text-indent: 1em;
}

.main {
 background-color: white;
 margin: auto;
 width: 650px;
 padding: 1em 7em;
}

.content {
 column-count: 2;
}

.conclusion {
 text-style: italic;
}
 
